# set this to a web address if you want to enable tls or host multiple sites
# eg: justingarrison.com www.justingarrison.com {
:80 {
	root www
	gzip
	# enable tls if you're using DDNS and
	# have ports 443 and 80 forwarded on your router
	tls off
  	# use php container for php files
	fastcgi / php:9000 php
	rewrite {
	    if {path} not_match ^\/wp-admin
	    to {path} {path}/ /index.php?_url={uri}
	}
}

# optional website 2
# website2 {
# 	root www2
# 	gzip
#	# tls off
#   	# use php container for php files
# 	fastcgi / php:9000 php
# 	rewrite {
# 	    if {path} not_match ^\/wp-admin
# 	    to {path} {path}/ /index.php?_url={uri}
# 	}
# }
