:80

{$VHOST} www.{$VHOST} {
	root wordpress
	gzip
	#tls justinleegarrison@gmail.com
	fastcgi / /var/run/php5-fpm.sock php
	rewrite {
	    if {path} not_match ^\/wp-admin
	    to {path} {path}/ /index.php?_url={uri}
}
